* {
    margin: 0 auto;
}
body{
    background-color:rgb(17, 16, 47)
}
body header div h1 {
    color: white;
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} 

body header div nav a {
    margin: 10px;
    color: white;
    font-size: small;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body header div nav a:hover {
    color: #bd5ef6;
}


.flexNav{
    display: flex;
    flex-direction: row;
    align-items: center;
    background:rgb(19, 16, 46);
    height: 90px;
    width: 100%;
    
}


.flexBody01{
    background: url(https://wallpaperaccess.com/full/1615368.jpg);
    display: flex;
    align-items: center;
    height: 150px;
    width: 100%;

}

.fin {
    display: flex;
    align-content: center;
    
}


.texte_espace{
    font-size:xx-large;
}

.flexBody02{
    display: flex;
    justify-content:left;
    height: 950px;
    padding-right: 40%;
    background-color: rgb(19, 16, 46);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  }
  form {
    margin-top: 20px;
    background-color: rgb(19, 16, 46);
    width: 450px;
  }
body .flexBody02 form h1{
    color: #bd5ef6;
    
  }

  form .inputs div{
    display: flex;
    width: 620px;
    
  }
form .inputs input
  
  form .inputs input, [type='nom'],[type='email'],[type='sujet'],[type='message']{
    width: 1200px;
    height: 100px;
    padding: 15px;
    border:none;
    border-radius: 5px;
    background-color: #221f49;
    outline:none;
    margin-bottom: 15px;
    margin-left: 15px;
    justify-content:center;
    
  }
  form .inputs [type='nom'][type='email']{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 100px;
    padding: 15px;
    border:none;
    border-radius: 5px;
    background-color: #221f49;
    outline:none;
    margin-bottom: 15px;
    margin-left: 15px;
    justify-content:center;

  }



  form .inputs [type='message']{
    width: 1200px;
    height: 300px;
    padding: 15px;
    border:none;
    border-radius: 5px;
    background-color: #221f49;
    outline:none;
    margin-bottom: 15px;
    margin-left: 15px;
    justify-content:center;
    
  }

  form p.inscription{
    font-size: 14px;
    margin-bottom: 20px;
    color: #878787;
  }
  form p.inscription span{
    color: #bd5ef6;
  }
  form button{
    display: flex;
    padding: 25px 50px;
    border-radius: 5px;
    border:none;
    font-size: 15px;
    color: #fff;
    background-color: #bd5ef6;
    outline:none;
    cursor:pointer;
    padding-right: 225px;
    padding-left: 135px;
  }


.boutonco {
    font-size: medium;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.boutonConnexion {
    display: flex;
    justify-content: left;
    flex-direction: column;
    background-color: #bd5ef6;
    width: 20%;
    height: 10%;
    border-radius: 2px;
}

body div h1 {
    color: white;
    font-size: x-large;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.connexion {
   font-size: xx-large;
   letter-spacing: 5px;
}


.flexFooter{

    display: flex;
    align-items: center;
    background:rgb(13, 11, 38);
    height: 350px;
    width: 100%;
    
}

.blockG {
    display: flex;
    width: 50%;
    flex-direction: column;
}

.blockG i{
    color: rgb(117, 114, 134);
    font-weight: normal;
    width: 50%;
    font-style: normal;
    
}

.titreG {
    color: white;
    font-size: medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.orange_text {
    color: #bd5ef6;
    font-size: small;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} 

.blockD{
    display: flex;
    width: 50%;
    flex-direction: column;
}

.titreD {
    color: white;
    font-size: medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.blockD a {
    display: flex;
    width: 50;
    color: rgb(117, 114, 134);
    text-decoration: None;
    font-size: small;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.blockD li {
    color:#bd5ef6;

}


body div p {
    color: rgb(117, 114, 134);
    font-size: small;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 10%;
}
.icon {
    padding-top: 100px;
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    width: 100%;
    text-align: center;
    color:rgb(117, 114, 134);
} 
.icon div{
    height:250px ;
    width:30% ;
    background-color: rgba(13,11,38,255);
}