h1{
    color:red;
}
p{
    color:chartreuse;
}
body{
    background-color: black;
}

.premier{
    background-color: yellow;
    height:100px;
    width:width;
}
.deuxieme{
    background-color: orangered;
    height:100px;
    width:width;
}
.troisieme{
    background-color: green;
    height:100px;
    width:width;
}
.quatrieme{
    background-color: red;
    height:100px;
    width:width;
}
.cinquieme{
    background-color: blue;
    height:100px;
    width:width;
}
.sixiaime{
    background-color: purple;
    height:100px;
    width:width;
}
.leprem{
    background-color: green;
    height:250px;
    width:20%;
}
.ledeux{
    background-color: blue;
    height:250px;
    width:20%;
}
.letrois{
    background-color: blueviolet;
    height:250px;
    width:20%;
}
.lequat{
    background-color: orange;
    height:250px;
    width:20%;
}
.flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    height:800px;
    border : 3px solid black;
    margin: 10px 0;
    text-align: center;
    padding-top: 350px;

}
.flex .col{
    background: red;
    flex-basis: 25%;
    font-size: 100px;
}
.flex .col2{
    background: green;
    flex-basis: 25%;
    font-size: 100px;
}
.flex .col3{
    background: pink;
    flex-basis: 25%;
    font-size: 100px;
}
.flex .col4{
    background: blue;
    flex-basis: 25%;
    font-size: 100px;
}
.flex .col5{
    background: purple;
    flex-basis: 25%;
    font-size: 100px;
}
.flex .col6{
    background: olive;
    flex-basis: 25%;
    font-size: 100px;
}
.flex .col7{
    background: burlywood;
    flex-basis: 25%;
    font-size: 100px;
}
.flex .col8{
    background: fuchsia;
    flex-basis: 25%;
    font-size: 100px;
}
.flex .col9{
    background: firebrick;
    flex-basis: 25%;
    font-size: 100px;
}
.flexi{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    height:800px;
    border : 3px solid black;
    margin: 10px 0;
    text-align: center;
    padding-top: 350px;

}
.flexi .col{
    background: red;
    flex-basis: 24%;
    font-size: 100px;
}
.flexi .col2{
    background: green;
    flex-basis: 24%;
    font-size: 100px;
}
.flexi .col3{
    background: pink;
    flex-basis: 24%;
    font-size: 100px;
}
.flexi .col4{
    background: blue;
    flex-basis: 24%;
    font-size: 100px;
}
.flexi .col5{
    background: purple;
    flex-basis: 100%;
    margin: 25px 0;
    font-size: 100px;
}
