/*--HEADER--*/

/*--HEADER : Logo--*/

.flexNav img {
    width: 250px;
    height: auto;
}

/*--HEADER : Navigation--*/

body header div nav a {
    margin: 10px;
    color: white;
    font-size: small;
    font-weight: bold;
    text-decoration: none;
}

body header div nav a:hover {
    color: #bd5ef6;
    text-decoration: overline;
}

.flexNav div nav img {
    /*image compte*/
    height: 12px;
    width: 12px;
}

/*--HEADER : Background--*/

.flexNav {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #11102f;
    height: 90px;
    width: auto;

}