/*--PARAMETRES GENEREAUX--*/

* {
    margin: 0 auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: all 0.5s;
}


/*--BANNIERE--*/

.flexBody01 {
    background: url(https://wallpaperaccess.com/full/1615368.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    height: 150px;
    width: auto;

}

.texte_espace {
    font-size: xx-large;
}

body div h1 {
    color: white;
    font-size: x-large;
    font-weight: bold;
}

.connexion {
    font-size: xx-large;
    letter-spacing: 5px;
}

/*--FORMULAIRE--*/

.flexBody02 {
    display: flex;
    justify-content: center;
    height: 600px;
    align-items: center;
    background-color: rgb(19, 16, 46);
}

form {
    margin-top: 20px;
    background-color: rgb(19, 16, 46);
}

body .flexBody02 form h1 {
    color: #bd5ef6;
    text-align: center;
    width: 100%;
    max-width: fit-content;
    margin-bottom: 30px;

    background: 
    linear-gradient(#bd5ef6 0 0) no-repeat
    calc(200% - var(--i,0)*100%) 100% / 200% calc(0%*var(--i,0) + .08em);
    transition: .3s calc(var(--i,0)*.3s), background-position .3s calc(.3s - calc(var(--i,0)*.3s));
    
}

body .flexBody02 form h1:hover {
    color: white;
    --i: 1;
}
    

form .inputs {
    display: flex;
    flex-direction: column;
}

form .inputs input[type='email'],
input[type='password'] {
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #221f49;
    color: white;
    outline: none;
    margin-bottom: 15px;
}


form button {
    display: flex;
    padding: 15px 25px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    color: #fff;
    background-color: #bd5ef6;
    outline: none;
    cursor: pointer;
}

.echo {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;
    color: rgb(255, 238, 0);
    font-size: small;
    width: 100%;
}

.echo span{
    color: red;
    text-decoration: underline;
}

.button_connexion:hover {
    border-radius: 4px;
    transform: translateY(-20px);
    box-shadow: 0px 5px 0px #7622a7;
}

.loginpass {
    margin-top: 10px;
    color: white;
    text-align: center;
}

.loginpass02 {
    text-align: center;
    color: #bd5ef6;
    margin-bottom: 30px;
}
