/*--PARAMETRES GENEREAUX--*/

* {
    margin: 0 auto;
    transition: all 0.5s;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*--BANNIERE--*/

.flexBody01 {
    background: url(https://wallpaperaccess.com/full/1615368.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    height: 150px;
    width: auto;

}

.texte_espace {
    font-size: xx-large;
}

body div h1 {
    color: white;
    font-size: x-large;
    font-weight: bold;
}

.connexion {
    font-size: xx-large;
    letter-spacing: 5px;
}


.flexBody02 {
    position: relative;
    display: flex;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: column;
    justify-content: flex-start;
    height: 1300px;
    align-items: center;
}



video.fullscreen {
    position: absolute;
    z-index: -1;
    object-fit: cover;
    width:100%;
    height:100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
  
  }

  .content {
    z-index: 1;
  }

  
.flexBody02 div p img {
    display: flex;
    width: auto;
    height: 160px;
    margin-top: 95px;
    margin-bottom: 55px;
    
}

/* ------------------------------------------------------------------------------------------------------------------------- */
/* CATEGORIE POPUP PLAY */

                        video.fullscreen02 {
                            position: absolute;
                            z-index: 2;
                            object-fit: cover;
                            width:100%;
                            height:100%;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        
                        }

                        .flexBody03 {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            width: 100%;
                            height: 100%;
                            align-items: center;
                            z-index: 3;
                            opacity: 1;
                        }

                        .popUpPlay {
                            margin-top: -1250px;
                            position: absolute;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            background-color: rgb(19, 16, 46);
                            width: 800px;
                            height: 450px;
                            z-index: 4;
                            border-radius: 30px;
                            border: 6px solid #bd5ef6;
                            color: #0D0B26;
                            box-shadow: 5px 5px 50px #bd5ef6;
                        }

                        .popUpPlay p {
                            margin-top: 10px;
                            font-size: small;
                            color: white;
                        }

                        .button_valider {
                            display: flex;
                            padding: 15px 25px;
                            border-radius: 5px;
                            border: none;
                            font-size: 15px;
                            color: #fff;
                            background-color: #bd5ef6;
                            outline: none;
                            cursor: pointer;
                            margin-top: 70px;
                        }

                        .button_valider:hover {
                            border-radius: 4px;
                            transform: translateY(-20px);
                            box-shadow: 0px 5px 0px #7622a7;
                        }

                        .h1popupplay02 {
                            margin-top: 130px;
                            font-size: 30px;
                            text-decoration: underline #bd5ef6 ;
                        }

                        .haut_popup {
                            display: flex;
                            flex-direction: row;
                            margin-top: 30px;
                        }

                        .bas_popup {
                            display: flex;
                            flex-direction: row;
                            margin-top: 20px;
                        }

                        .button_returnindex {
                            display: flex;
                            padding: 15px 25px;
                            border-radius: 5px;
                            align-items: center;
                            border: none;
                            font-size: 15px;
                            font-weight: bold;
                            color: #fff;
                            background-color: #18163d;
                            border: 2px solid #bd5ef6;
                            outline: none;
                            cursor: pointer;
                            height: 40px;
                            margin-left: 10px;
                            margin-right: 10px;
                        }

                        .button_returnindex:hover {
                            background-color: #26235f;
                        }

                        .button_replay {
                            display: flex;
                            padding: 15px 25px;
                            border-radius: 5px;
                            align-items: center;
                            border: none;
                            font-size: 15px;
                            font-weight: bold;
                            color: #fff;
                            background-color: #bd5ef6;
                            outline: none;
                            cursor: pointer;
                            height: 40px;
                            margin-left: 10px;
                            margin-right: 10px;
                        }

                        .button_replay:hover {
                            transform: scale(1.2);
                            box-shadow: 5px 5px 50px #18163d;
                        }

                        .haut_popup h1 {
                            font-size: 30px;
                            text-decoration: underline #bd5ef6 ;
                        }

                        .haut_popup img {
                            width: auto;
                            height: 40px;
                            margin-top: -5px;
                            margin-left: 10px;

                        }

                        .button_bas {
                            margin-top: 70px;
                            position: absolute;
                            justify-content: center;
                        }

                        .button_theme01 {
                            display: flex;
                            padding: 15px 25px;
                            border-radius: 5px;
                            align-items: center;
                            border: none;
                            font-size: 15px;
                            color: #fff;
                            background-image: url(https://media.discordapp.net/attachments/301039123160891402/1028617893165924352/fond.jpg);
                            background-size: 100%;
                            outline: none;
                            cursor: pointer;
                            margin-top: 25px;
                            height: 40px;
                            margin-left: 10px;
                            margin-right: 10px;
                        }

                        .button_theme01:hover {
                            box-shadow: 5px 5px 50px #0f0129;
                            transform: scale(1.1)
                        }

                        .button_theme02 {
                            display: flex;
                            padding: 15px 25px;
                            border-radius: 5px;
                            align-items: center;
                            border: none;
                            font-size: 15px;
                            color: #fff;
                            background-image: url(https://cdn.discordapp.com/attachments/301039123160891402/1028618300458020874/fond.jpg);
                            background-size: 100%;
                            outline: none;
                            cursor: pointer;
                            margin-top: 25px;
                            height: 40px;
                            margin-left: 10px;
                            margin-right: 10px;
                        }

                        .button_theme02:hover {
                            box-shadow: 5px 5px 50px #0f0129;
                            transform: scale(1.1)
                        }

                        .button_theme03 {
                            display: flex;
                            padding: 15px 25px;
                            border-radius: 5px;
                            align-items: center;
                            border: none;
                            font-size: 15px;
                            color: #fff;
                            background-image: url(https://media.discordapp.net/attachments/301039123160891402/1028618646202896454/fond.jpg);
                            background-size: 100%;
                            outline: none;
                            cursor: pointer;
                            margin-top: 25px;
                            height: 40px;
                            margin-left: 10px;
                            margin-right: 10px;
                        }

                        .button_theme03:hover {
                            box-shadow: 5px 5px 50px #0f0129;
                            transform: scale(1.1)
                        }

                        .button_facile {
                            display: flex;
                            padding: 15px 25px;
                            border-radius: 5px;
                            align-items: center;
                            border: none;
                            font-size: large;
                            font-weight: bold;
                            color: #fff;
                            background-image: url(https://media.discordapp.net/attachments/301039123160891402/1033335718753357865/facile2.jpg);
                            background-size: cover;
                            background-position: center;
                            background-repeat: no-repeat;
                            outline: none;
                            cursor: pointer;
                            height: 40px;
                            width: 120px;
                            margin-left: 10px;
                            margin-right: 10px;
                            margin-top: 10px;
                        }
                        
                        .button_facile:hover {
                            transform: scale(1.5);
                            box-shadow: 5px 5px 50px #00ff40;
                        }
                        
                        .button_intermediaire {
                            display: flex;
                            padding: 15px 25px;
                            border-radius: 5px;
                            align-items: center;
                            border: none;
                            font-size: 15px;
                            font-weight: bold;
                            color: #fff;
                            background-image: url(https://media.discordapp.net/attachments/301039123160891402/1033341586886623262/inter1.jpg);
                            background-size: cover;
                            background-position: center;
                            background-repeat: no-repeat;
                            outline: none;
                            cursor: pointer;
                            height: 40px;
                            width: 120px;
                            margin-left: 10px;
                            margin-right: 10px;
                            margin-top: 10px;
                        }
                        
                        .button_intermediaire:hover {
                            transform: scale(1.5);
                            box-shadow: 5px 5px 50px #f5dc00;
                        }
                        
                        .button_extreme {
                            display: flex;
                            padding: 15px 25px;
                            border-radius: 5px;
                            align-items: center;
                            border: none;
                            font-size: 15px;
                            font-weight: bold;
                            color: #fff;
                            background-image: url(https://media.discordapp.net/attachments/301039123160891402/1033344748087431168/extreme1.jpg);
                            background-size: cover;
                            background-position: center;
                            background-repeat: no-repeat;
                            outline: none;
                            cursor: pointer;
                            height: 40px;
                            width: 150px;
                            margin-left: 10px;
                            margin-right: 10px;
                            margin-top: 10px;
                        }
                        
                        .button_extreme:hover {
                            transform: scale(1.5);
                            box-shadow: 5px 5px 50px #940505;
                        }
                    
                        .button_impossible {
                            display: flex;
                            padding: 15px 25px;
                            border-radius: 5px;
                            align-items: center;
                            border: none;
                            font-size: 15px;
                            font-weight: bold;
                            color: #fff;
                            background-image: url(https://media.discordapp.net/attachments/301039123160891402/1033347641460920390/imp1.jpg?width=1440&height=415);
                            background-size: cover;
                            background-position: center;
                            background-repeat: no-repeat;
                            outline: none;
                            cursor: pointer;
                            height: 40px;
                            width: 170px;
                            margin-left: 10px;
                            margin-right: 10px;
                            margin-top: 10px;
                        }
                        
                        .button_impossible:hover {
                            transform: scale(1.5);
                            box-shadow: 5px 5px 50px #969595;
                        }
                    

/* ------------------------------------------------------------------------------------------------------------------------- */
/* CATEGORIE JEU */                       

.tableau {
    margin-top: -10px;
}
#resultat {
    height: 750px;
    width: 750px;
    z-index: 3;
}

#eyeimg {
    height: auto;
    width: 80%;
    opacity: 0.1;
}

/* ------------------------------------------------------------------------------------------------------------------------- */
/* CATEGORIE FACILE */

                        .carretabFacile {
                            height: 23%;
                            width: 23%;
                            border-radius: 10px;
                            background-image: url(https://media.discordapp.net/attachments/301039123160891402/1034858466575130674/Projet_sans_titre.gif);
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: 80%;
                            background-color: #0D0B26;
                            border: 4px solid #18163d;
                            margin: 7.5px;
                            z-index: 3;
                            transition: 0.5s;
                        }

                        .imagejeuFacile:hover{
                            box-shadow: 5px 5px 50px #bd5ef6;
                            transform: scale(1.3); 
                            transition: 0.5s;
                            
                        }


                        .carretabFacile:hover{
                            box-shadow: 5px 5px 50px #bd5ef6;
                            scale: 1.3;
                            rotate: 180deg;
                            transition: 0.5s;
                        }

                        .imagejeuFacile {
                            height: 23%;
                            width: 23%;
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: contain;
                            border-radius: 10px;
                            background-color: #0D0B26;
                            border: 4px solid #18163d;
                            z-index: 3;
                            margin: 7.5px;
                            transition: 0.5s;
                            transform: scale(1); 
                            box-shadow: 5px 5px 50px #000000;
                        }


/* ------------------------------------------------------------------------------------------------------------------------- */
/* CATEGORIE Moyen */

                        .carretabMoyen {
                            height: 10.5%;
                            width: 10.5%;
                            border-radius: 10px;
                            background-image: url(https://media.discordapp.net/attachments/301039123160891402/1034540663099904041/Sans_titre-44.png);
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: 80%;
                            background-color: #0D0B26;
                            border: 4px solid #18163d;
                            margin: 7.5px;
                            z-index: 3;
                            transition: 0.5s;
                        }

                        .imagejeuMoyen:hover{
                            box-shadow: 5px 5px 50px #bd5ef6;
                            transform: scale(1.3); 
                            transition: 0.5s;
                            
                        }


                        .carretabMoyen:hover{
                            box-shadow: 5px 5px 50px #bd5ef6;
                            scale: 1.3;
                            rotate: 180deg;
                            transition: 0.5s;
                        }

                        .imagejeuMoyen {
                            height: 10.5%;
                            width: 10.5%;
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: contain;
                            border-radius: 10px;
                            background-color: #0D0B26;
                            border: 4px solid #18163d;
                            z-index: 3;
                            margin: 7.5px;
                            transition: 0.5s;
                            transform: scale(1); 
                            box-shadow: 5px 5px 50px #000000;
                        }

/* ------------------------------------------------------------------------------------------------------------------------- */
/* CATEGORIE Extreme */

                        .carretabExtreme {
                            height: 6.3%;
                            width: 6.3%;
                            border-radius: 10px;
                            background-image: url(https://media.discordapp.net/attachments/301039123160891402/1034540663099904041/Sans_titre-44.png);
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: 80%;
                            background-color: #0D0B26;
                            border: 4px solid #18163d;
                            margin: 7.5px;
                            z-index: 3;
                            transition: 0.5s;
                        }

                        .imagejeuExtreme:hover{
                            box-shadow: 5px 5px 50px #bd5ef6;
                            scale: 2.3;
                            transition: 0.5s;
                            
                        }


                        .carretabExtreme:hover{
                            box-shadow: 5px 5px 50px #bd5ef6;
                            scale: 2.3;
                            rotate: 180deg;
                            transition: 0.5s;
                        }

                        .imagejeuExtreme {
                            height: 6.3%;
                            width: 6.3%;
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: contain;
                            border-radius: 10px;
                            background-color: #0D0B26;
                            border: 4px solid #18163d;
                            z-index: 3;
                            margin: 7.5px;
                            transition: 0.5s;
                            transform: scale(1); 
                            box-shadow: 5px 5px 50px #000000;
                        }


                        
/* ------------------------------------------------------------------------------------------------------------------------- */
/* CATEGORIE Impossible */

                        .carretabImpossible {
                            height: 3%;
                            width: 3%;
                            border-radius: 10px;
                            background-image: url(https://media.discordapp.net/attachments/301039123160891402/1034540663099904041/Sans_titre-44.png);
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: 80%;
                            background-color: #0D0B26;
                            border: 4px solid #18163d;
                            margin: 7.5px;
                            z-index: 3;
                            transition: 0.5s;
                        }

                        .imagejeuImpossible:hover{
                            box-shadow: 5px 5px 50px #bd5ef6;
                            transform: scale(6); 
                            transition: 0.5s;
                            
                        }


                        .carretabImpossible:hover{
                            box-shadow: 5px 5px 50px #bd5ef6;
                            scale: 6;
                            rotate: 180deg;
                            transition: 0.5s;
                        }

                        .imagejeuImpossible {
                            height: 3%;
                            width: 3%;
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: contain;
                            border-radius: 10px;
                            background-color: #0D0B26;
                            border: 4px solid #18163d;
                            z-index: 3;
                            margin: 7.5px;
                            transition: 0.5s;
                            transform: scale(1); 
                            box-shadow: 5px 5px 50px #000000;
                        }


/* ------------------------------------------------------------------------------------------------------------------------- */                       


.flexBody02 div p img {
    display: flex;
    width: auto;
    height: 160px;
    margin-top: 95px;
    margin-bottom: 55px;
    
}

.popUpReplay {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00ff40;
    width: 500px;
    height: 400px;
    z-index: 2;
    color: #0D0B26;
}


.button_bas {
    display: flex;
    justify-content: center;
    margin-left: -30px;
}

.button_theme01 {
    display: flex;
    padding: 15px 25px;
    border-radius: 5px;
    align-items: center;
    border: none;
    font-size: 15px;
    color: #fff;
    background-image: url(https://media.discordapp.net/attachments/301039123160891402/1028617893165924352/fond.jpg);
    background-size: 100%;
    outline: none;
    cursor: pointer;
    margin-top: 25px;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

.button_theme01:hover {
    box-shadow: 5px 5px 50px #0f0129;
    transform: scale(1.1)
}

.button_theme02 {
    display: flex;
    padding: 15px 25px;
    border-radius: 5px;
    align-items: center;
    border: none;
    font-size: 15px;
    color: #fff;
    background-image: url(https://cdn.discordapp.com/attachments/301039123160891402/1028618300458020874/fond.jpg);
    background-size: 100%;
    outline: none;
    cursor: pointer;
    margin-top: 25px;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

.button_theme02:hover {
    box-shadow: 5px 5px 50px #0f0129;
    transform: scale(1.1)
}

.button_theme03 {
    display: flex;
    padding: 15px 25px;
    border-radius: 5px;
    align-items: center;
    border: none;
    font-size: 15px;
    color: #fff;
    background-image: url(https://media.discordapp.net/attachments/301039123160891402/1028618646202896454/fond.jpg);
    background-size: 100%;
    outline: none;
    cursor: pointer;
    margin-top: 25px;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

.button_theme03:hover {
    box-shadow: 5px 5px 50px #0f0129;
    transform: scale(1.1)
}


.chrono{
    display: flex;
    flex-direction: row;
}

.flexBody02 .chrono img {
    display: flex;
    width: auto;
    height: 80px;
    margin-top: 5px;
    margin-left: 0px;
    
}

.button_chrono {
    display: flex;
    padding: 15px 25px;
    border-radius: 5px;
    align-items: center;
    border: 4px solid #18163d;
    font-size: 20px;
    color: #fff;
    background-color: #0D0B26;
    background-size: 100%;
    outline: none;
    cursor: pointer;
    margin-top: 30px;
    margin-left: -220px;
    height: 40px;
}

body div h1 {
    color: white;
    font-size: x-large;
    font-weight: bold;
}

.titre {
    margin-top: 70px;
}

.connexion {
    font-size: xx-large;
    letter-spacing: 5px;
}


/*--CHAT--*/

.chat {
    position: fixed;
    z-index: 10;
    bottom: 0px;
    right: 0px;
    width: 250px;
    background-color: rgb(255, 255, 255);
    max-height: 50vh;
    height: 380px;
    transform: translateY(330px);
    transition: transform 500ms ease-in-out;
    }
    
    
    .chat:hover {
        transform: translateY(-22px);
    }
    
    .header_chat{
        display: flex;
        flex-direction: row;
        align-items: center;
        background-image: url(https://media.discordapp.net/attachments/301039123160891402/1032005122202550323/fonda.png);
        background-position: center;
        background-size: 250px;
        background-repeat: no-repeat;
        width: auto;
        height: 50px;
        box-shadow: 5px 5px 40px black;
    
    }

    .logo_chat{
        background-image: url(https://media.discordapp.net/attachments/301039123160891402/1032004718366560337/logochat.png);
        background-position: center;
        background-size: 35px;
        background-repeat: no-repeat;
        margin-left: 5px;
        width: 50px;
        height: 50px;
    }

    .text_chat {
        color: white;
        font-size: x-large;
        margin-left: -50px;
    }


    .body_chat {
    display: flex;
    background-color: #18163d;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x:hidden;
    height: 300px;
    }

    .user_chat01{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .user_name01{
        color: gray;
        text-align: right;
        width: 100%;
        margin-bottom: 5px;
        margin-left: -5px;
    }

    .user_message01{
        display: flex;
        flex-direction: column;
        background-color: #26235f;
        justify-content: center;
        align-items: flex-start;
        color: white;
        width: auto;
        margin-right: 5px;
        text-align: right;
        height: auto;
        padding: 10px;
        border-radius: 3px;
        
    }

    .time_message01{
        font-size: small;
        color: gray;
        text-align: right;
        width: 100%;
        margin-top: 5px;
        margin-left: -5px;
    }

    .user_chat02{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .user_name02{
        color: gray;
        text-align: left;
        width: 100%;
        margin-bottom: 5px;
        margin-left: 5px;
    }

    .user_message02{
        display: flex;
        flex-direction: column;
        background-color: #26235f;
        justify-content: center;
        color: white;
        width: auto;
        margin-left: 5px;
        text-align: right;
        height: auto;
        padding: 10px;
        border-radius: 3px;
        
    }

    .time_message02{
        font-size: small;
        color: gray;
        text-align: left;
        width: 100%;
        margin-top: 5px;
        margin-left: 5px;
    }

    .footer_chat {
        display: flex;
        align-items: center;
        padding: 5px;
        background-image: url(https://media.discordapp.net/attachments/301039123160891402/1032005122202550323/fonda.png);
        background-position: center;
        background-size: 250px;
        background-repeat: no-repeat;
        font-size: medium;
        width: auto;
        height: 40px;
    }

    .footer_chat input[type="text"]{
        padding: 5px;
        background-color: #26235f;
        color: white;
        border-radius: 5px;
        border: none;
        outline: none;
    }
    
    .button_chat {
        padding: 3px;
        border: 1px solid;
        border-radius: 5px;
        font-size: 15px;
        color: #fff;
        background-color: #26235f;
        outline: none;
        cursor: pointer;
    }



    
    