/*--PARAMETRES GENEREAUX--*/

* {
    margin: 0 auto;
    transition: all 0.5s;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/*--BANNIERE--*/


.flexBody01 {
    background: url(https://wallpaperaccess.com/full/1615368.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    height: 150px;
    width: 100%;

}

.texte_espace {
    font-size: xx-large;
}

/*--FORMULAIRE--*/

.flexBody02 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 600px;
    align-items: center;
    background-color: rgb(19, 16, 46);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    background-color: #0D0B26;
    width: 30%;
}

body .flexBody02 form h1 {
    color: #bd5ef6;
    text-align: center;
    background: 
    linear-gradient(#bd5ef6 0 0) no-repeat
    calc(200% - var(--i,0)*100%) 100% / 200% calc(0%*var(--i,0) + .08em);
    transition: .3s calc(var(--i,0)*.3s), background-position .3s calc(.3s - calc(var(--i,0)*.3s));
    

}

body .flexBody02 form h1:hover {
    color: white;
    --i: 1;
}

form .inputs {
    display: flex;
    flex-direction: column;
}


form .inputs input[type='email'],
input[type='password'] {
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #221f49;
    color: white;
    outline: none;
    margin-bottom: 15px;
}

form p.inscription {
    font-size: 14px;
    margin-bottom: 20px;
    color: #387bc1;
}


form p.inscription span {
    color: #bd5ef6;
}


form button {
    display: flex;
    padding: 15px 25px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    color: #fff;
    background-color: #bd5ef6;
    outline: none;
    cursor: pointer;
}

button:hover {
    border-radius: 4px;
    transform: translateY(-20px);
    box-shadow: 0px 5px 0px #7622a7;
}


body div h1 {
    color: white;
    font-size: x-large;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.connexion {
    font-size: xx-large;
    letter-spacing: 5px;
}

