/*--PARAMETRES GENEREAUX--*/

* {
    margin: 0 auto;
    transition: all 0.5s;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/*--BANNIERE--*/


.flexBody01 {
    background: url(https://wallpaperaccess.com/full/1615368.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    height: 150px;
    width: 100%;

}

.texte_espace {
    font-size: xx-large;
}

/*--TABLEAU--*/



body {
    background-color: rgb(40, 22, 208);
}

.nav_button {
    display: flex;
    width: 100%;
}

.button_score {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    height: 50px;
    width: 20%;
}

.dropbtn {
    background-color: #bd5ef6;
    size: 10px;
    color: white;
    padding: 5px;
    font-size: small;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
  /* Style for dropdown content */
  .dropdown-content {
    display: none; /* Hidden by default */
    position: absolute;
    min-width: 85px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
  }
  
  .dropdown-content div {
    padding: 10px;
    border: #bd5ef6 solid 1px;
    font-size: x-small;
    border-radius: 10px;
    background-color: #474885;
  }
  
  .dropdown-content div a{
    color: white;
    text-decoration: none;
  }

  .dropdown-content div:hover {
    background-color: #221f49;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    color: white;
  }
  
  .dropdown:hover .dropbtn {
    box-shadow: 0px 8px 16px 0px #0D0B26;
  }
  

.flexBody02 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1000px;
    align-items: center;
    background-color: rgb(19, 16, 46);
}

*,
::before ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.tableau-style {
    border-collapse: collapse;
    min-width: 400px;
    width: auto;
    box-shadow: 0 5px 50px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    margin: 100px auto;
    border: 2px solid #221f49;
    margin-bottom: 10%;

}

thead tr {
    background-color: #221f49;
    color: #FFF;
    text-align: left;


}

thead tr th {
    text-decoration: underline;
}

th,
td {
    text-align: center;
    padding: 15px 20px;
    color: #FFF;
}

tbody tr,
td,
th {
    border: 1px solid #878787;
}

tbody tr:nth-child(even) {
    background-color: #221f49;

}

tbody tr:last-of-type {
    border-bottom: 2px solid midnightblue;
}

body div h1 {
    color: white;
    font-size: x-large;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.connexion {
    font-size: xx-large;
    letter-spacing: 5px;
}


