/*--PARAMETRES GENEREAUX--*/

* {
    margin: 0 auto;
    transition: all 0.5s;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*--HEADER--*/

/*--HEADER : Logo--*/

.flexNav img {
    width: 250px;
    height: auto;
}

/*--HEADER : Navigation--*/

body header div nav a {
    margin: 10px;
    color: white;
    font-size: small;
    font-weight: bold;
    text-decoration: none;
}

body header div nav a:hover {
    color: #bd5ef6;
}

.flexNav div nav img {
    /*image compte*/
    height: 12px;
    width: 12px;
}

/*--HEADER : Background--*/

.flexNav {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: rgb(19, 16, 46);
    height: 90px;
    width: auto;

}

/*--BANNIERE--*/


.flexBody01 {
    background: url(https://wallpaperaccess.com/full/1615368.jpg);
    display: flex;
    align-items: center;
    height: 150px;
    width: 100%;

}

.texte_espace {
    font-size: xx-large;
}

/*--TABLEAU--*/



body {
    background-color: rgb(19, 16, 46);
}

.nav_button {
    display: flex;
    width: 100%;
    margin-top: 30px;
}

.button_score {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 60%;
    height: 50px;
    width: 20%;
}

.dropbtn {
    background-color: #bd5ef6;
    color: white;
    padding: 5px;
    font-size: small;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
  /* Style for dropdown content */
  .dropdown-content {
    display: none; /* Hidden by default */
    position: absolute;
    min-width: 85px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
  }
  
  .dropdown-content div {
    padding: 10px;
    border: #bd5ef6 solid 1px;
    font-size: x-small;
    border-radius: 10px;
    background-color: #474885;
  }
  
  .dropdown-content div a{
    color: white;
    text-decoration: none;
  }

  .dropdown-content div:hover {
    background-color: #221f49;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    color: white;
  }
  
  .dropdown:hover .dropbtn {
    box-shadow: 0px 8px 16px 0px #0D0B26;
  }
  

.flexBody02 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1000px;
    align-items: center;
    background-color: rgb(19, 16, 46);
}

*,
::before ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.tableau-style {
    border-collapse: collapse;
    min-width: 400px;
    width: auto;
    box-shadow: 0 5px 50px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    margin: 100px auto;
    border: 2px solid #221f49;
    margin-bottom: 10%;

}

thead tr {
    background-color: #221f49;
    color: #FFF;
    text-align: left;


}

th,
td {
    text-align: center;
    padding: 15px 20px;
    color: #FFF;
}

tbody tr,
td,
th {
    border: 1px solid #878787;
}

tbody tr:nth-child(even) {
    background-color: #221f49;

}

tbody tr:last-of-type {
    border-bottom: 2px solid midnightblue;
}

body div h1 {
    color: white;
    font-size: x-large;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.connexion {
    font-size: xx-large;
    letter-spacing: 5px;
}


/*--FOOTER--*/

footer {
    display: flex;
    flex-direction: row;
    font-size: small;
    color: white;
    padding-top: 75px;
    background-color: #0D0B26;
    font-family: 'Roboto', sans-serif;
}

footer h1 {
    margin-bottom: 25px;
    color: #FFFFFF;
}

footer h2 {
    color: darkgray;
    font-size: small;
}

/*--FOOTER COTE GAUCHE--*/


.information_footer p {
    text-align: start;
    margin-left: 0px;

}

.information_liste_footer {

    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-bottom: 25px;
    list-style-type: none;
}

img {
    flex-direction: row;
    width: 30px;
    height: 30px;
}

footer img:hover {
    border-radius: 10 10 20;
    box-shadow: 5px 5px 40px #bd5ef6;
}



.information_footer h2 span {
    color: #bd5ef6;

}

/*--COPYRIGHT--*/

.copyright_footer {
    margin-top: 100px;
    margin-bottom: 25px;

    color: darkgray;
}

/*--FOOTER COTE DROIT--*/


.power_footer h2 a {
    text-decoration: none;
    color: #878787;
}

.power_footer h2 span {
    color: #bd5ef6;
}