* {
    margin: 0 auto;
}

.flexNav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


    height: auto;
    width: 100%;

    background:rgb(19, 16, 46);
    height: 90px;
    width: 100%;

}

.flexBody{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


    height: auto;
    width: 100%;

    background:green;
    height: 800px;
    width: 100%;

}

.flexFooter{
    display: flex;
    flex-direction: column;
    justify-content: center;





    height: auto;
    width: 100%;

    background:rgb(19, 16, 46);
    height: 350px;
    width: 100%;

}

.flexFooterImage{
    display: flex;
    flex-direction: row;
    justify-items: baseline;
    margin-bottom: auto;

}


body header div h1 {
    color: white;
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} 

.inf {
    text-align: left;
    color: white;
    font-size: medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.info {
    display: flex;
    width: 30%;
    margin-left: 7%;
    flex-direction: column;
}
.info i{
    color: rgb(117, 114, 134);
    font-weight: normal;
    font-style: normal;
}
body div p {
    text-align: left;
    color: rgb(117, 114, 134);
    font-size: small;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 10px;
    margin-left: 10%;
} 

footer div a  {
    text-align: left;

}

.orange_text {
    text-align: left;
    color: orange;
    font-size: small;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 10px;
    margin-left: 10%;
} 

body header div nav a {
    margin: 10px;
    color: white;
    font-size: small;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer{
    background:rgb(19, 16, 46);
}
.flexFooterImage img {
    background:rgb(19, 16, 46);
    color:rgb(19, 16, 46);
}