/*--PARAMETRES GENEREAUX--*/

* {
    margin: 0 auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: all 0.5s;
}

/*--HEADER--*/

/*--HEADER : Logo--*/

.flexNav img {
    width: 250px;
    height: auto;
}

/*--HEADER : Navigation--*/

body header div nav a {
    margin: 10px;
    color: white;
    font-size: small;
    font-weight: bold;
    text-decoration: none;
}

body header div nav a:hover {
    color: #bd5ef6;
}

.flexNav div nav img {
    /*image compte*/
    height: 12px;
    width: 12px;
}

/*--HEADER : Background--*/

.flexNav {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: rgb(19, 16, 46);
    height: 90px;
    width: auto;

}

/*--BANNIERE--*/

/*--Background--*/

.banniere {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(https://repository-images.githubusercontent.com/214671270/23f88b80-ed18-11e9-8a21-0a636b193f08);
    height: 700px;
    width: auto;
}

/*--Eléments--*/

.titre {
    font-size: 80px;
    color: white;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.desc {
    margin-top: 10px;
    color: #c4bfbf;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.button_play {
    width: 160px;
    height: 55px;
    background: #bd5ef6;
    margin-top: 25px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    border: none;

}

.button_play:hover {
    transform: scale(1.1);
    background-color: #bd5ef6;
    box-shadow: 5px 5px 50px #bd5ef6;
}

/*--BODY 01--*/

body {
    background-color: rgb(19, 16, 46);
}

/*--images--*/

.para {
    display: flex;
    height: 50%;
    width: 80%;
    margin: 15px 0;
    padding-top: 10%;
    padding-left: 10%;
}

.para img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.para img:hover {
    transform: scale(1.1);
    box-shadow: 5px 20px 20px #0D0B26;
}

.para a {
    width: 20%;
    border-radius: 7px;
}

.para .grando {
    width: 50%;
}

/*--description images--*/

.para02 {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 70%;
    padding-top: 20px;
}

.simage {
    margin-left: 50px;
    color: #9d9898;
}

.simage li  {
    color: white;
    font-weight: bold;
    list-style-type: none;
    font-size: large;
}


.simage li span  {
    margin-left: -60px;
    font-weight: bold;
    font-size: 300%;
    color: #33259a;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.simage li span:hover{
    color:#bd5ef6;
}



.hade {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 80%;
    height: 500px;
    margin-top: 10%;
}

.hade img {
    margin-top: 50px;
    margin-left: -50px;
    width: 100%;
    height: 90%;
}

.hade img:hover {
    transform: rotate(-5deg);

}

.boxgene {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 500px;
}

.boxhaut {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
}

.box1 {
    display: flex;
    background-image: url(https://media.discordapp.net/attachments/301039123160891402/1031657563575566346/test03.png?width=1105&height=676);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: row;
    align-items: center;
    width: 50%;
    height: 200px;
    margin-right: 15px;
    text-align: center;
    border-radius: 15px;
    color: white;
    font-size: large;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.box1 p span {
    font-size: 300%;
}

.box1:hover{
    scale: 1.15;
    box-shadow: 5px 20px 20px #0D0B26;
}

.box2 {
    display: flex;
    background-image: url(https://media.discordapp.net/attachments/301039123160891402/1030820778389803108/test.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: row;
    align-items: center;
    width: 50%;
    height: 200px;
    margin-left: 15px;
    text-align: center;
    border-radius: 15px;
    color: white;
    font-size: large;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.box2 p span {
    font-size: 300%;
}

.boxbas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    margin-top: 30px;
}

.box2:hover{
    scale: 1.15;
    box-shadow: 5px 20px 20px #0D0B26;
}

.box3 {
    display: flex;
    background-image: url(https://media.discordapp.net/attachments/301039123160891402/1030820130562768996/test02.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: row;
    align-items: center;
    width: 50%;
    height: 200px;
    margin-right: 15px;
    text-align: center;
    border-radius: 15px;
    color: white;
    font-size: large;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.box3 p span {
    font-size: 300%;
}

.box3:hover{
    scale: 1.15;
    box-shadow: 5px 20px 20px #0D0B26;
}

.box4 {
    display: flex;
    background-image: url(https://media.discordapp.net/attachments/301039123160891402/1030822146416574525/test04.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: row;
    align-items: center;
    width: 50%;
    height: 200px;
    margin-left: 15px;
    text-align: center;
    border-radius: 15px;
    color: white;
    font-size: large;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.box4 p span {
    font-size: 300%;
}

.box4:hover{
    scale: 1.15;
    box-shadow: 5px 20px 20px #0D0B26;
}


.equipe {
    display: flex;
    width: 90%;
    height: 25%;
    padding-top: 50px;
    padding-bottom: 10%;
}

.equipe img {
    width: 52%;
    height: auto;
}

.equipe a {
    background-color: rgba(13, 11, 38, 255);
    width: 22%;
    height: auto;
    margin-top: 15px;
    padding-top: 100px;
    padding-bottom: 25px;
    text-align: center;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.equipe a:hover {
    border-radius: 4px;
    transform: translateY(-20px);
    box-shadow: 5px 20px 20px #0D0B26;
}

.title {
    font-size: 50px;
    margin-top: 250px;
    font-weight: bold;
    color: #FFFFFF;
    background: 
    linear-gradient(#bd5ef6 0 0) no-repeat
    calc(200% - var(--i,0)*100%) 100% / 200% calc(0%*var(--i,0) + .08em);
    transition: .3s calc(var(--i,0)*.3s), background-position .3s calc(.3s - calc(var(--i,0)*.3s));
}

.titlediv {
    display: flex;
    margin-bottom: 30px;
}

.title:hover{
    --i: 1;
}
    
.ptite {
    font-size: 15px;
    color: white;
    text-align: center;
    margin-bottom: 30px;
}

.equipe img.nix {
    height: 5%;
    width: 50%;
}

.orn {
    text-align: center;
}

.orn img {
    height: 10%;
    width: 20%;
}

/*--FOOTER--*/

footer {
    display: flex;
    flex-direction: row;
    font-size: small;
    color: white;
    padding-top: 75px;
    background-color: #0D0B26;
    font-family: 'Roboto', sans-serif;
}

footer h1 {
    margin-bottom: 25px;
    color: #FFFFFF;
}

footer h2 {
    color: darkgray;
    font-size: small;
}


/*--FOOTER COTE GAUCHE--*/


.information_footer p {
    text-align: start;
    margin-left: 0px;

}

.information_liste_footer {

    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-bottom: 25px;
    list-style-type: none;
}

img {
    flex-direction: row;
    width: 30px;
    height: 30px;
}

footer img:hover {
    border-radius: 10 10 20;
    box-shadow: 5px 5px 40px #bd5ef6;
}



.information_footer h2 span {
    color: #bd5ef6;

}

/*--COPYRIGHT--*/

.copyright_footer {
    margin-top: 100px;
    margin-bottom: 25px;

    color: darkgray;
}

/*--FOOTER COTE DROIT--*/


.power_footer h2 a {
    text-decoration: none;
    color: #878787;
}

.power_footer h2 span {
    color: #bd5ef6;
}